/* App-wide Panel Styles */

.panels {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    margin: auto;
}

.panels-left {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-bottom: 5px;
}

.panels-divider {
    min-width: 5px;
}

.panels-center {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.panels-right {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-bottom: 5px;
}

/* Panel Headers */

.right-panel-header {
    width: 100%;
    padding-inline: 5px;
    text-align: right;
    color: white;
}

/* Panel Buttons */

.panel-button-wrapper {
    text-align: center;
}

.panel-button {
    border: unset;
    margin-left: center;
    margin-bottom: 2px;
}

.panel-button:hover {
    transition-duration: 0.2s;
    background-color: rgb(88, 116, 199);
}

