.panels {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    margin: auto;
}

.panels-left {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.panels-divider {
    width: 5px;
}

.panels-center {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.panels-right {
    display: flex;
    flex-direction: column;
    width: 15%;
}
