.map-panel {
    height: 100%;
    overflow: hidden;
}

.map {
    height: 100%;
    width: 100%;
}

.mapboxgl-popup {
    display: block;
    z-index: 4;
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}