.thumbnail {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: tomato;
    text-align: center;
    margin: 2px;
    margin-left: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    border: unset;
}

.thumbnail:hover {
    background-color: rgb(88, 116, 199);
}