.thumbnail {
    height: 100px;
    width: 100px;
    min-width: 100px;
    background-color: tomato;
    text-align: center;
    margin: 1%;
    border: unset;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
    line-height: normal;
    overflow: hidden;
}

.thumbnail:hover {
    background-color: rgb(88, 116, 199);
}