.footer {
    display: flex;
    height: 30px;
    width: 90%;
    margin-inline: auto;
    background-color: grey;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
}