/* Achievements CSS

Inherit left-panel-header

*/
.achievements-panel {

    width: 100%;
    height: 300px;
    margin-bottom: 5px;
    background-color: rgb(168, 168, 168);
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
    padding: 2px;
}

.achievements-panel-spacer {
    height: 15px;
}

/* Thumbnails List */

.achievements-panel-thumbnail-header {
    font-size: 12px;
    text-align: center;
}

.achievements-thumbnail-list-short {
    height: 60px;
    min-width: 230px;
    text-align: center;
    background-color: purple; /* TODO: Debug only */
    overflow-y: hidden;
    word-wrap: hidden;
}

/* Progress Bars */

.achievements-progress-bar {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
}

.achievements-progress-bar-left {
    min-width: 80px;
    height: 10px;
}

.achievements-progress-bar-right {
    width: 100%;
    height: 10px;
}